.ch-code-wrapper,
.ch-code {
  color: var(--shiki-color-text) !important;
}

.ch-codegroup .ch-editor-button,
.ch-codeblock .ch-code-button {
  display: none;
  color: var(--ch-icon-text);
}

.ch-codegroup:hover .ch-editor-button,
.ch-codeblock:hover .ch-code-button {
  display: block;
}

div.ch-editor-tab-active {
  color: var(--ch-tab-active-color);
}
