.ch-code-wrapper,
.ch-code {
  background: var(--muted) !important;
}

.ch-codegroup .ch-editor-button,
.ch-codeblock .ch-code-button {
  display: block;
  color: red;
}

.ch-codegroup:hover .ch-editor-button,
.ch-codeblock:hover .ch-code-button {
  display: block;
}

[data-rehype-pretty-code-figure] > pre {
  padding: 1rem;
  background: red;
  margin: 1rem 0;
}

div.ch-editor-tab-active {
  color: red;
}
